@charset "UTF-8";
*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.time{
    background-color: #333;
    color: #0f0;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 10px 20px;
    justify-content: center;
    width: 250px;
    border: 10px;
    border: 5px solid #888;
}
#divtimer{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.but{
    background-color: rgba(128, 128, 128, 0.699);
    margin: 3px;
    border-radius: 2px;
    width: 53px;
    height: 30px;
}
.main{
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
    width: 100%;
}
#botoes{
    display: flex;
    justify-content: space-around;
}
